<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/stylesheets/emp.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Glegoo|Rubik"
    rel="stylesheet">
<head>
<title>EMP</title>
</head>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>
    <div class='nav'>
        <ul>
            <li><a href="/emp" class="active">HOME</a></li>
            <li><a href="/emp/mortgage">MORTGAGES</a></li>
        </ul>
    </div>
    <div class='title'>
        <h1>JOBS INC.</h1>
    </div>
    <div class='section'>
        <h2>portal home</h2>
        <p>
            Welcome to the web portal for Jobs Inc. Use the menu at the top of the page to navigate.
        </p>
   
    </div>
    <br>
</body>
</html>